body{
margin: 0;
background: #fefdff;
}

.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#circle {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#circle svg{
    margin: 0 auto;
}

@media all and (min-width: 800px) {
    .container {
    width: 100%;
    margin: 0 auto;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0;
    }
    #circle{
        width: 100%;
    }
}

section h4{
    font-family: 'Cinzel Decorative';
    font-weight: bolder;
}

section p{
    text-align: left;
    font-family: 'Roboto';
}

.segment:hover{
    fill: rgb(0,0,0);
}

.label-text{
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    font-size: 16px;
    fill: black;
}

.fadein{
    -webkit-transition: 1.2s;
    -moz-transition: 1.2;
    -o-transition: 1.2s;
    transition: 1.2s;
    opacity: 1;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.info-section{
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 15px;
 }

.info-section-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

.info-section-container > article{
    text-align: left;
    margin-bottom: 10px;
}

.github-icon:before{
    content: "";
    display: inline-block;
    margin: 3px;
    background: url('images/github-icon-24.png') no-repeat right 0 top 0;
    background-size: cover;
    height: 20px;
    width: 20px;
    vertical-align: top;
}

.actions{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.mdl-chip{
    margin-right: 3px;
}

.menu-button-right{
    position: absolute;
    top: 5px;
    right: 5px;
}

.expand-menu{
    text-align: right;
}

.section-text{
    padding: 0 15px;
}